{
  "project_info": {
    "project_number": "339865363997",
    "project_id": "deep-bark",
    "storage_bucket": "deep-bark.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_GOOGLE_APP_ID",
        "android_client_info": {
          "package_name": "com.example.app_flutter"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.example.app_flutter",
            "certificate_hash": "YOUR_ANDROID_CERTIFICATE_HASH"
          }
        },
        {
          "client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_FIREBASE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
